<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>email</th>
    </tr>
    <tr th:object="${oneUser}">
        <td th:text="${oneUser.getId()}"></td>
        <td th:text="${oneUser.getUsername()}"></td>
        <td th:text="${oneUser.getAge()}"></td>
        <td th:text="${oneUser.getEmail()}"></td>
    </tr>
</table>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>